name: doc

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: build and deploy doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - name: Create production theme
        run: |
          echo >> doc/book.toml
          echo "[output.html]" >> doc/book.toml
          echo 'theme="theme"' >> doc/book.toml
          mkdir doc/theme
          echo '<script defer data-domain="astro.github.io" src="https://p.spaceboyz.net/js/script.js"></script>' > doc/theme/head.hbs
          git add doc/theme
      - name: Build
        run: nix build .#doc
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./result
